{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Alliances list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for alliance in alliances %}
                <tr>
                    <td><a href="{{ path('alliance_show', { 'id': alliance.id }) }}">{{ alliance.id }}</a></td>
                    <td>{{ alliance.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('alliance_show', { 'id': alliance.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('alliance_edit', { 'id': alliance.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('alliance_new') }}">Create a new alliance</a>
            </li>
        </ul>
    </div>
{% endblock %}
