{% extends'base.html.twig' %}

{% block body %}
    <div class="container col-xs-offset-1 col-xs-2">
        <ul class="list-group">

            <table id="DbTable" class="table tablesorter table-bordered table-responsive text-center">
            {#<table id="DbTable" class="tablesorter">#}
                <thead>
                    <tr>
                        {% for key in attributes|keys %}
                            <th class="text-center">{{ key }} <span class="fa fa-sort"></span> </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            {% for key, value in entity %}
                                {% if key == 'name' %}
                                    <td><a href="{{ path(routes['show'], {'name': entity.name}) }}">{{ entity.name }}</a></td>
                                {% elseif key == 'id'%}
                                {% elseif key == 'description' %}
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
        <form method="link" action="{{ path(routes['new']) }}">
            <button type="submit" class="btn btn-primary"> Add {{ entityName }} </button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('tablesorter/js/jquery.tablesorter.js') }}"></script>
    <script src="{{ asset('js/db.tablesorter.js') }}"></script>
{% endblock %}