{#Special thanks to Rob Garrison at https://github.com/mottie/tablesorter/#}

{% extends'base.html.twig' %}

{% block body %}
    <div class="container col-xs-offset-1 col-xs-2">
        <ul class="list-group">

            <table id="DbTable" class="table tablesorter table-bordered table-responsive text-center">
                <thead>
                    <tr>
                        {% for key, value in attributes %}
                            {# gets rid of array type values #}
                            {% if not value is iterable %}
                                <th class="text-center">{{ key }} <span class="fa fa-sort"></span> </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            {% for key, value in entity %}
                                {% if key == 'name' %}
                                    <td><a href="{{ path(routes['show'], {'name': entity.name}) }}">{{ entity.name }}</a></td>
                                {% elseif key == 'id'%}
                                {% elseif key == 'description' %}

                                {# gets rid of array type values #}
                                {% elseif not value is iterable %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
        <form method="link" action="{{ path(routes['new']) }}">
            <button type="submit" class="btn btn-primary"> Add {{ entityName }} </button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('tablesorter/js/jquery.tablesorter.js') }}"></script>
    <script src="{{ asset('js/db.tablesorter.js') }}"></script>
    <script>
        $(document).ready(function() {
            var pageName = {{ entityName|json_encode|raw }};
            var targetLink;
            if( pageName.includes("Unit")){
                targetLink = '#units-navbar-link'
            }else {
                targetLink = '#manage-entities-navbar-link'
            }
            $(targetLink).parent().addClass('active');
            $(targetLink).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}