{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/unit_table.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="container unit-table-container">
            <h2 class="text-center">{{ unit.name }}</h2>

            <table class="table table-bordered table-responsive text-center">
                <tr>
                    <th class="text-center">Description</th>
                    <th class="text-center">Value</th>
                </tr>
                <tr>
                    <td>Faction:</td>
                    <td>{{ unit.faction.name }}</td>
                </tr>

                <tr>
                    <td>Minimum Number of Models:</td>
                    <td>{{ unit.minNumOfModels }}</td>
                </tr>
                <tr>
                    <td>Max Number of Models:</td>
                    <td>{{ unit.maxNumOfModels }}</td>
                </tr>
                <tr>
                    <td>Points</td>
                    <td>{{ unit.points }}</td>
                </tr>
                <tr>
                    <td>Save:</td>
                    <td>{{ unit.saveValue}}</td>
                </tr>
                <tr>
                    <td>Bravery:</td>
                    <td>{{ unit.braveryValue }}</td>
                </tr>
                <tr>
                    <td>Wounds:</td>
                    <td>{{ unit.numOfWounds }}</td>
                </tr>
                <tr>
                    <td>Spells per Round:</td>
                    <td>{{ unit.spellsPerRound }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ unit.description }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}

