{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Abilityentity</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abilityEntity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ abilityEntity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ abilityEntity.description }}</td>
            </tr>
            <tr>
                <th>Commandability</th>
                <td>{% if abilityEntity.commandAbility %}Yes{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('ability_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('ability_edit', { 'id': abilityEntity.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
