{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Warscrollbattalions list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Additionalpoints</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for warscrollBattalion in warscrollBattalions %}
                <tr>
                    <td><a href="{{ path('warscrollbattalion_show', { 'id': warscrollBattalion.id }) }}">{{ warscrollBattalion.id }}</a></td>
                    <td>{{ warscrollBattalion.name }}</td>
                    <td>{{ warscrollBattalion.additionalPoints }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('warscrollbattalion_show', { 'id': warscrollBattalion.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('warscrollbattalion_edit', { 'id': warscrollBattalion.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('warscrollbattalion_new') }}">Create a new warscrollBattalion</a>
            </li>
        </ul>
    </div>
{% endblock %}
