{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{ include('weapons/_weaponForm.html.twig') }}

            <button type="submit" class="btn btn-primary" formnovalidate>
                Submit
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addWeapon.js') }}"></script>
{% endblock %}