{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Pitchedbattleruleentities list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for pitchedBattleRuleEntity in pitchedBattleRuleEntities %}
                <tr>
                    <td><a href="{{ path('pitchedBattleRules_show', { 'id': pitchedBattleRuleEntity.id }) }}">{{ pitchedBattleRuleEntity.id }}</a></td>
                    <td>{{ pitchedBattleRuleEntity.name }}</td>
                    <td>{{ pitchedBattleRuleEntity.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('pitchedBattleRules_show', { 'id': pitchedBattleRuleEntity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('pitchedBattleRules_edit', { 'id': pitchedBattleRuleEntity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('pitchedBattleRules_new') }}">Create a new pitchedBattleRuleEntity</a>
            </li>
        </ul>
    </div>
{% endblock %}
