{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Mounts list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Movement</th>
                <th>Canfly</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mount in mounts %}
                <tr>
                    <td><a href="{{ path('mount_show', { 'id': mount.id }) }}">{{ mount.id }}</a></td>
                    <td>{{ mount.name }}</td>
                    <td>{{ mount.movement }}</td>
                    <td>{% if mount.canFly %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('mount_show', { 'id': mount.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('mount_edit', { 'id': mount.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('mount_new') }}">Create a new mount</a>
            </li>
        </ul>
    </div>
{% endblock %}
